<!doctype html>
<html>
<head>
  <title>React Application</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="//localhost:8090/public/app.js"></script>
</body>
</html>
